In [ ]:
print("hello world")

hello world

In [ ]:
print("Sai Thejasree")

Sai Thejasree

In [ ]:
print("Sai ")

Sai

In [ ]:
print("hello world")

hello world

In [ ]:
#Day 2
a=100 #below snippets is example of memory efficiency in pythn
print (id (a))

10754024

In [ ]:
b=100
print (id(b))

10754024

In [ ]:
a = 500
print(id(a))

139173264467440

In [ ]:
b = a
print(id(b))

139173264467440

In [ ]:
a,b,c = 10, 20, 30 #Variable Assignments
print(a,b,c)

10 20 30

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
a=10
b=10
c=10
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw
print(kw.kwlist)  #it lists all the keywords , kw is just alias here. Can be given anything

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False = 10 #Example that keywords cannot be used as variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-11-a4c0c92eeec0>, line 1)

In [ ]:
#Multiline comment

"""cadad xcajdc
xcjadcaj
asjasj"""
print ("Hi")

Hi

In [ ]:
#python string rep, Accepts single and double quotes

a= 'NTT'
b= "Data"
print (a,b)

NTT Data

In [ ]:
#Multi Line string enclosed withing triple quotes

st = """"aacdda sdah
ascajdc sadhq
asdha sdhqj asj"""
print(st)

"aacdda sdah
ascajdc sadhq
asdha sdhqj asj

In [13]:
a= "NTT DATA"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])

N
T
T

D
A
T
A

In [14]:
a= "NTT DATA"
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])

A
T
A
D

T
T

In [1]:
#Day 3
#List Example

l = [10,20.3,"NTT",3+4j]
print(l)

[10, 20.3, 'NTT', (3+4j)]

In [2]:
#examples to print the datatype of a value
#type() function returns the data type of a value
a=10
print(type(a))

<class 'int'>

In [3]:
a= "NTT"
print(type(a))

<class 'str'>

In [4]:
a= 3+4j
print(type(a))

<class 'complex'>

In [5]:
l = [10,20.3,"NTT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [6]:
#isinstance
a=10
print(isinstance(a,int))

True

In [7]:
#isinstance
a=10.5
print(isinstance(a,int))

False

In [9]:
#variable annotations, Helps readabality to find the data type of a value.
#But not necessary that same data type value should be stored. In this example, str will even store 10 though it is a string.It won't throw any error
name: str = 'NTT'
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [11]:
aaa : int =10
print(aaa)
print(type(aaa))
print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [15]:
#String - Slicint(Substring)
s="hello world"
print(s[0:5:1])

hello

In [16]:
s="hello world"
print(s[6:10:1])

worl

In [17]:
s="hello world"
print(s[0:10:2])

hlowr

In [18]:
#start is not given, so default it will consider 0 index
s="hello world"
print(s[:5:1])

hello

In [19]:
#stop is not given, so default it will consider entire string length
s="hello world"
print(s[0::1])

hello world

In [20]:
#step is not given, so default it will consider 1 as a step
s="hello world"
print(s[0:5:])

hello

In [21]:
#start,stop,step is not given, by default it will consider entire string
s="hello world"
print(s[::])

hello world